# Estructura de datos de pandas:

A diferencia de las Series, que son objetos correspondientes a paneles unidimensionales, los DataFrames son paneles bidimensionales compuestos por filas y columnas, que permiten destacar las relaciones entre las distintas variables de la serie de datos.

In [6]:
import pandas as pd

In [7]:
naranjas = pd.Series([4,9,6,10,200])
naranjas

0      4
1      9
2      6
3     10
4    200
dtype: int64

In [8]:
manzanas = pd.Series([60, 22, 1, 79, 2, 8])
manzanas

0    60
1    22
2     1
3    79
4     2
5     8
dtype: int64

In [9]:
colores = pd.Series(['verde', 'azul', 'amarillo'])
colores

0       verde
1        azul
2    amarillo
dtype: object

In [17]:
materias = pd.Series({'matematica': 2, 'fisica':1, 'nose': 3, 'economia': 6, 'programacion': 10})
materias

matematica       2
fisica           1
nose             3
economia         6
programacion    10
dtype: int64

Las propiedades de las series son:

- size: Devuelve el numero de elementos de la serie
- index: devuelve una lista con los ombres de las filas del DataFrame
- dtype: tipo de datos de la serie

In [14]:
materias.index
materias.dtype
materias[['matematica']]

matematica    2
dtype: int64

In [19]:
manzanas.describe()
materias[materias > 5]
materias.sort_values(ascending=False)

programacion    10
economia         6
nose             3
matematica       2
fisica           1
dtype: int64

In [20]:
data_list = ['Messi','Cristiano Ronaldo', 'Benzema']
indices = ['PSG', 'Machester United', 'Real Madrid']

futbol = pd.Series(index=indices, data=data_list)

futbol

PSG                             Messi
Machester United    Cristiano Ronaldo
Real Madrid                   Benzema
dtype: object

In [21]:
data = {'NOMBRE': ['Maria', 'Jose', 'David', 'Ivan'],
        'Carrera': ['Auditoria','Informatica', 'Derecho', 'Idiomas'],
        'Correo': ['maria@gmail.com', 'jose@gmail.com', 'david@gmail.com', 'ivan@gmail.com']}

data

{'NOMBRE': ['Maria', 'Jose', 'David', 'Ivan'],
 'Carrera': ['Auditoria', 'Informatica', 'Derecho', 'Idiomas'],
 'Correo': ['maria@gmail.com',
  'jose@gmail.com',
  'david@gmail.com',
  'ivan@gmail.com']}

In [22]:
estudiantes = pd.DataFrame(data=data)
estudiantes

  NOMBRE      Carrera           Correo
0  Maria    Auditoria  maria@gmail.com
1   Jose  Informatica   jose@gmail.com
2  David      Derecho  david@gmail.com
3   Ivan      Idiomas   ivan@gmail.com

In [23]:
df = pd.DataFrame([['maria', 22], ['david', 22]], columns=['nombre', 'edad'])
df

  nombre  edad
0  maria    22
1  david    22